[Desktop Entry]
Name=Discord Canary
StartupWMClass=discord
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
GenericName=Internet Messenger
Exec=/usr/bin/discord-canary
Icon=discord-canary
Type=Application
Categories=Network;InstantMessaging;
Path=/usr/bin
Path=/usr/bin
NoDisplay=true
