[Desktop Entry]
Version=1.0
Name=Clipboard Manager Settings
Name[bg]=Настройки на мениджъра на системния буфер
Name[ca]=Ajusts del gestor del porta-retalls
Name[da]=Indstillinger for udklipsholderhåndtering
Name[de]=Zwischenablage Diensteinstellungen
Name[es]=Ajustes del administrador del portapapeles
Name[et]=Lõikepuhvri halduri eelistused
Name[fi]=Leikepöydän hallinnan asetukset
Name[fr]=Paramètres du gestionnaire de presse-papiers
Name[gl]=Configuración do xestor do portapapeis
Name[he]=הגדרות מנהל לוח אטיב
Name[hye]=Ստեղնաշարի կառաւարչի կարգաւորումներ
Name[id]=Pengaturan Manajer Papan Klip
Name[it]=Impostazioni del gestore degli appunti
Name[ja]=クリップボードマネージャー設定
Name[lt]=Iškarpinės tvarkytuvės nustatymai
Name[nb]=Utklippstavlebehandlerens innstillinger
Name[nl]=Instellingen van Klembordbeheer
Name[pl]=Ustawienia Menedżera schowka
Name[pt]=Definições do gestor de área de transferência
Name[pt_BR]=Gerenciador de Configurações do Clipboard
Name[ru]=Настройки менеджера буфера обмена
Name[sq]=Rregullime Përgjegjësi të Papastre
Name[sr]=Поставке управника исечака
Name[tr]=Pano Yöneticisi Ayarları
Name[uk]=Налаштування Менеджера Буферу обміну
Name[zh_CN]=剪贴板管理器设置
Name[zh_TW]=剪貼簿管理器設定
Comment=Customize your clipboard
Comment[bg]=Персонализирайте вашият системен буфер
Comment[ca]=Personalitzeu el vostre porta-retalls
Comment[da]=Tilpas din udklipsholder
Comment[de]=Anpassen der Zwischenablage
Comment[es]=Personaliza tu portapapeles
Comment[et]=Kohenda oma lõikepuhvrit
Comment[fi]=Mukauta leikepöytääsi
Comment[fr]=Personnaliser votre presse-papiers
Comment[gl]=Personalizar o portapapeis
Comment[he]=התאם אישית מנהל לוח אטיב
Comment[hu]=Szabd személyre a vágólapot
Comment[hye]=Յարմարեցնել ձեր ստեղնաշարը
Comment[it]=Personalizza i tuoi appunti
Comment[ja]=クリップボードのカスタマイズ
Comment[lt]=Tinkinti savo iškarpinę
Comment[nb]=Tilpass utklippstavla
Comment[nl]=Pas uw klembord aan
Comment[pl]=Dostosowywanie schowka
Comment[pt]=Personalize a sua área de transferência
Comment[pt_BR]=Personalizar seu clipboard
Comment[ru]=Настройте свой буфер обмена
Comment[sq]=Përshtatni të papastrën tuaj
Comment[sr]=Прилагодите своју оставу исечака
Comment[tr]=Panonuzu özelleştirin
Comment[uk]=Персоналізація буферу обміну
Comment[zh_CN]=自定义剪贴板
Comment[zh_TW]=自訂您的剪貼簿
Exec=xfce4-clipman-settings
Icon=xfce4-clipman-plugin
Terminal=false
StartupNotify=true
Type=Application
OnlyShowIn=XFCE;
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
X-XfcePluggable=true
X-XfceHelpComponent=clipman
NoDisplay=true
X-XfceHelpPage=start
