[Desktop Entry]
Version=1.0
Type=Application
Name=Clipboard Manager
Name[bg]=Мениджър на системния буфер
Name[ca]=Gestor del porta-retalls
Name[da]=Udklipsholderhåndtering
Name[de]=Zwischenablageverwaltung
Name[es]=Administrador de portapapeles
Name[et]=Lõikepuhvri haldur
Name[fi]=Leikepöydän hallinta
Name[fr]=Gestionnaire de presse-papiers
Name[gl]=Xestor do portapapeis
Name[he]=מנהל לוח אטיב
Name[hu]=Vágólapkezelő
Name[hye]=Ստեղնաշարի կառաւարիչ
Name[id]=Manajer Papan Klip
Name[it]=Gestore degli appunti
Name[ja]=クリップボードマネージャー
Name[lt]=Iškarpinės tvarkytuvė
Name[nb]=Utklippsbehandler
Name[nl]=Klembordbeheer
Name[pl]=Menedżer schowka
Name[pt]=Gestor de área de transferência
Name[pt_BR]=Gerenciador da Área de Transferência
Name[ru]=Менеджер буфера обмена
Name[sq]=Përgjegjës të Papastre
Name[sr]=Управник исечака
Name[tr]=Pano Yöneticisi
Name[uk]=Менеджер буферу обміну
Name[zh_CN]=剪贴板管理器
Name[zh_TW]=剪貼簿管理程式
Comment=Clipboard Manager Autostart File
Comment[bg]=Мениджър на системния буфер - автостартиращ файл
Comment[ca]=Fitxer d'inici automàtic del gestor del porta-retalls
Comment[da]=Autostart-fil for udklipsholderhåndtering
Comment[de]=Zwischenablageverwaltung Autostart-Datei
Comment[es]=Archivo de inicio automático del administrador del portapapeles
Comment[et]=Lõikepuhvri halduri automaatse käivituse fail
Comment[fr]=Fichier de démarrage automatique du gestionnaire de presse-papiers
Comment[gl]=Ficheiro de inicio automático do xestor do portapapeis
Comment[he]=קובץ התחלה אוטומטית מנהל לוח אטיב
Comment[hye]=Ստեղնաշարի կառաւարչի ինքնամեկնարկ
Comment[id]=Berkas Mulai Otomatis Manajer Papan Klip
Comment[it]=File di avvio automatico del gestore degli appunti
Comment[ja]=クリップボードマネージャーの自動起動ファイル
Comment[lt]=Iškarpinės tvarkytuvės automatinio paleidimo failas
Comment[nb]=Autostartfil for utklippsbehandler
Comment[nl]=Bestand voor automatische start van Klembordbeheer
Comment[pl]=Plik autostartu Menedżera schowka
Comment[pt]=Ficheiro de arranque automático do gestor de área de transferência
Comment[pt_BR]=Arquivo Automático do Gerenciador da Área de Transferência
Comment[ru]=Файл автозапуска менеджера буфера обмена
Comment[sq]=Kartelë Vetënisjeje Përgjegjësi të Papastre
Comment[sr]=Датотека самопокретања управника исечака
Comment[tr]=Pano Yöneticisi Otomatik Başlatma Dosyası
Comment[uk]=Файл автозапуску Менеджера Буфера обміну
Comment[zh_CN]=剪贴板管理器自动启动文件
Comment[zh_TW]=剪貼簿管理程式自動啟動檔案
TryExec=xfce4-clipman
Exec=xfce4-clipman
Icon=xfce4-clipman-plugin
Terminal=false
Categories=GTK;Utility;TrayIcon;
OnlyShowIn=XFCE;GNOME;X-Cinnamon;
StartupNotify=false
NoDisplay=true
